<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @media (min-width:992px){
        .bd{width:50% !important; margin-left:25% !important;}
        }
    </style>
</head>
<body style="100%">

<div style="width:80%;margin-left:10%; border:2px solid blue;" class="bd" >
<div style="padding:2ex;background-color:#050584e8;color:white;font-size:2.5ex;">
    <center> <img src="https://www.surecon.in/img/surecon-logo-small.png" style="width:10%;">
        SURECOIN LTD</center>
</div>
   
    <h2 style="padding:2ex;">{{subject}}</h2>
    <div style="padding:2ex;">
        <p style="position:absolute;">{{message}}</p>
        <p> {{name}} </p>
        <p>{{msg}}</p>
        <p>{{pp}}</p>
    </div>
    <center>
        <br/>
        <p><a href="https://surecoin.uk/login/" style="padding:2ex; font-size:2ex; background-color:blue;color:white;">LOGIN</a></p>
    </center>
    <br/><br/><br/>
</div>

</body>
</html>