<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @media (min-width:992px){
        .bd{width:50% !important; margin-left:25% !important;}
        }
    </style>
</head>
<body style="100%">

<div style="width:80%;margin-left:10%; border:2px solid blue;" class="bd" >
<div style="padding:2ex;background-color:#050584e8;color:white;font-size:2.5ex;">
    <center>
        <img src="https://www.surecon.in/img/surecon-logo-small.png" style="width:10%;">
        WELCOME TO SURECOIN LTD</center>
</div>
    <img src="https://images.unsplash.com/photo-1559526324-593bc073d938?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
    style="width:100%;">
    <h2 style="padding:2ex;">START EARNING AS TIME COUNTS</h2>
    <p style="padding:2ex;">we give you the opportunity to make passive income as time counts,
    to start make a active deposit in your surecoin account</p>
    <center>
        <br/>
        <p><a href="https://surecoin.uk/login/" style="padding:2ex; font-size:2ex; background-color:blue;color:white;">LOGIN</a></p>
    </center>
    <br/><br/><br/>
</div>

</body>
</html>