{% extends 'home/index.html' %}
{% block title %}about us {% endblock %}

{% block content %}
<!--the collaps-->
  <ul class="collapsible" style="width:80%;margin-left:10%;">
    <li>
      <div class="collapsible-header">How can I invest with surecoin ? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          To make a investment you must first become a member of surecoin , Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">I wish to invest with surecoin but I don't have an any e-currency account. What should I do? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
        You can open a free PM account here: www.bitcoin.com
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How do I open my Surecoin Account? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          It's quite easy and convenient. Follow this <a href="signup/">link</a>, fill in the registration form and then press "Register".
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">Which e-currency do you accept? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          We accept any e-currency.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How can I withdraw funds? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          Login to your account using your username and password and check the Withdraw section.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How long does it take for my deposit to be added to my account? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
         Your account will be updated as fast, as you deposit.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How can I change my e-mail address or password? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
         Log into your surecoin account and click on the "Account Information". You can change your e-mail address and password there.
      </span></div>
    </li>

    <li>
  <div class="collapsible-header">Does a daily profit paid directly to my currency account? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
  <div class="collapsible-body"><span>
No, profits are gathered on your surecoin account and you can withdraw them anytime.  </span></div>
</li>
    <li>
      <div class="collapsible-header">How do you calculate the interest on my account? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          Depending on each plan. Interest on your surecoin account is acquired Daily and for 15 days and credited to your available balance at the end of each day.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">Can I lose money ? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          There is a risk involved with investing in all high yield investment programs. However, there are a few simple ways that can help you to reduce the risk of losing more than you can afford to. First, align your investments with your financial goals, in other words, keep the money you may need for the short-term out of more aggressive investments, reserving those investment funds for the money you intend to raise over the long-term. It's very important for you to know that we are real traders and that we invest members' funds on major investments.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How can I make a spend? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
To make a spend you must first become a member of surecoin . Once you are signed up, you can make your first spend. All spends must be made through the Member Area. You can login using the member username and password you received when signup.      </span></div>
    </li>
    <li>
      <div class="collapsible-header">How to minimum withdrawal? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
          Minimum withdrawal is $10.00
      </span></div>
    </li>
    <li>
      <div class="collapsible-header">Who manages the funds? <i class="material-icons" style="position:absolute;right:12%;">add</i></div>
      <div class="collapsible-body"><span>
These funds are managed by a team of surecoin investment experts.
      </span></div>
    </li>
  </ul>

<!--the collaps end-->

<script>
      $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
{% endblock %}