{% extends 'home/index.html' %}
{% block title %} terms {% endblock %}

{% block content %}

    <div class="parallax-container" style="height:30ex;margin-top:-3ex;width:100%;">
      <div class="parallax"><img src="https://th.bing.com/th/id/R.807dec142b9b379badcde4a51662dfe6?rik=Sdo8qT%2bKi3HgjA&pid=ImgRaw&r=0"></div>
    </div>
    <div style="position:absolute;margin:-20ex 35%;width:100%;">
        <h3 style="color:white;"><b>RULES & TERMS</b></h3>
    </div>


    <div class="section white">
      <div class="row container">
        <h2 class="header">PLEASE READ THE FOLLOWING RULES CAREFULLY BEFORE SIGNING IN.</h2>
        <p class="grey-text text-darken-3 lighten-3">

You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.

F is not available to the general public and is opened only to the qualified members of surecoin.com, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the surecoin.com and its Member.

As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.

You agree that all information, communications, materials coming from surecoin.com are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.

All the data giving by a member to surecoin.com will be only privately used and not disclosed to any third parties. surecoin.com is not responsible or liable for any loss of data.

You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.

We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.

surecoin.com is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to surecoin.com that you will not use this site in any illegal way and you agree to respect your local, national and international laws.

Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.

We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.

surecoin.com reserves the right to accept or decline any member for membership without explanation.

If you do not agree with the above disclaimer, please do not go any further.

        </p>
      </div>
    </div>

{% endblock %}